<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" />
    <title>PDF tools</title>
  </head>
  <body>
    {{{body}}}
  </body>
  <script>
    Array.from(document.getElementsByClassName("fileInputLabel")).forEach((element)=>{
    element.addEventListener("change",(e)=>{ console.log(e); element.innerHTML =
    `<span>${element.getElementsByTagName("input")[0].files.length} files are
    selected`; }); });
  </script>
</html>