<section class="container">
  <h1 class="my-5">Welcome to PDF utils</h1>
  <form method="post" action="/merge" enctype="multipart/form-data">
    <div class="input-group mb-3">
      <input
        type="file"
        class="form-control"
        accept=".pdf"
        id="inputGroupFile02"
        name="pdfs"
        multiple
      />
      <label class="input-group-text" for="inputGroupFile02">Upload</label>
    </div>
    <input type="submit" value="Confirm" class="btn btn-primary my-4" />
  </form>
</section>