<h1><img src="/logo.png" class="logo" /> Welcome to PDF utils</h1>
<section id="options">
  <details>
    <summary>Merge your PDF files quickly</summary>
    <form method="POST" action="/merge">
      <label for="filesToMerge" class="fileInputLabel">
        <input
          type="file"
          id="filesToMerge"
          accept=".pdf"
          name="pdfs"
          multiple
        />
        <span>Click Here to Upload Files</span>
      </label>
      <input type="submit" class="btnPrimary" value="Merge PDFs" />
    </form>
  </details>
</section>